#page-title{
    color: red;
    font-size: 32px;
}
html {
  font-family: 'Times New Roman', Times, serif;  
  margin: 50px 40px;
}
h1{
    color:red;
    font-size: 32px;
    text-decoration: underline;
}
h2{color: red;
}
p{
    color: blueviolet;
}
a{
    color: darkgreen;
    text-decoration:none
      
}
ul{
    color:rgb(226, 43, 119) ;
}
table
th,
td {
    border-collapse: collapse;
}
th,
td {
    border:solid 1px;
}
.column-section {
    color: red;
}
.row-section{
    color: purple;
}
.EdTech aside {
    background-color: wheat;
    width: 25%;
    float: right;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
@media (max-width: 991px) {
    .EdTech aside {
        background-color: wheat;
        color: black;
        float: unset;
        width: 75%;
        margin:0 auto;
        padding: 25px;
    }
}
.image-1 {
    position: absolute;
    top: 0;
    right: 20%;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}