#page-title{
    color: red;
    font-size: 32px;
}
h1{
    color:red;
    font-size: 32px;
    text-decoration: underline;
}
h2{color: red;
}
p{
    color: blueviolet;
}
a{
    color: darkgreen;
    text-decoration: none;
}
ul{
    color:blueviolet ;
}
table
th,
td {
    border-collapse: collapse;
}
th,
td {
    border:solid 1px;
}
.column-section {
    color: red;
}
.row-section{
    color: purple;
}